<html lang="fr">
<head>
    <meta charset='utf-8'>
    <title>Find your person</title>
    <link rel="stylesheet" href="<%= base_url %>/css/style.css">
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add/person">Add a person</a></li>
        </ul>
    </nav>
</div>


